.landing-index {
  width: 100%;
  height: 100%;
  background-color: #4d89f7;
  padding-bottom: 20px;
  .top-bg-box {
    width: 100%;
    position: relative;
    img {
      width: 100%;
    }
    .select-language {
      position: absolute;
      display: flex;
      height: 24px;
      right: 8px;
      top: 0.5%;
      color: white;
      font-size: 16px;
      align-items: center;
      p {
        margin-right: 8px;
      }
      .select-langauge {
        font-size: 12px;
        padding: 5px 7px;
        background-color: rgba(0, 0, 0, 0.5);
        span {
          margin-left: 20px;
        }
      }
    }
  }
  .down-remark {
    transform: translateY(-264px);
    img {
      height: 18px;
    }
    color: white;
  }
  @keyframes breatheAn {
    0% {
      transform: translateY(-80px) scale(1);
    }
    50% {
      transform: translateY(-80px) scale(0.8);
    }
    100% {
      transform: translateY(-80px) scale(1);
    }
  }
  .down-btn {
    position: relative;
    width: 220px;
    height: 76px;
    background: url("../../assets/images/btn_bg.png");
    background-size: 100% 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    font-weight: 800;
    color: #bc5401;
    text-shadow: 2px 3px 0px #ffffff;
    box-sizing: border-box;
    padding-bottom: 10px;
    animation: breatheAn 2s linear infinite;
  }
  .remark-title {
    width: calc(100% - 26px);
    height: 34px;
    background: url("../../assets/images/title_bg.png");
    background-size: 100% 100%;
    margin: 0 auto;
    transform: translateY(-66px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21.5px;
    color: white;
  }
  .demo-list {
    width: calc(100% - 20px);
    position: relative;
    img {
      width: 100%;
    }
    margin: 0 auto;
    max-height: 215px;
    min-height: 108px;
    transform: translateY(-55px);
    box-sizing: border-box;
    p {
      font-size: 13px;
      width: 41%;
      color: white;
      white-space: nowrap;
      position: absolute;
      right: 18.5%;
      bottom: 22px;
    }
  }
  .reward-content {
    font-size: 22px;
    font-weight: 800;
    color: #ffcb00;
    transform: translateY(-35px);
    span {
      color: #ff1010;
    }
  }
}
